/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.tooltip {
  position: relative;
}

.tooltip::after {
  background: rgba(48, 55, 66, 0.95);
  border-radius: 0.1rem;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: 0.7rem;
  left: 50%;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  padding: 0.2rem 0.4rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  -webkit-transform: translate(-50%, 0.4rem);
          transform: translate(-50%, 0.4rem);
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
  white-space: pre;
  z-index: 300;
}

.tooltip:focus::after, .tooltip:hover::after {
  opacity: 1;
  -webkit-transform: translate(-50%, -0.2rem);
          transform: translate(-50%, -0.2rem);
}

.tooltip[disabled], .tooltip.disabled {
  pointer-events: auto;
}

.tooltip.tooltip-right::after {
  bottom: 50%;
  left: 100%;
  -webkit-transform: translate(-0.2rem, 50%);
          transform: translate(-0.2rem, 50%);
}

.tooltip.tooltip-right:focus::after, .tooltip.tooltip-right:hover::after {
  -webkit-transform: translate(0.2rem, 50%);
          transform: translate(0.2rem, 50%);
}

.tooltip.tooltip-bottom::after {
  bottom: auto;
  top: 100%;
  -webkit-transform: translate(-50%, -0.4rem);
          transform: translate(-50%, -0.4rem);
}

.tooltip.tooltip-bottom:focus::after, .tooltip.tooltip-bottom:hover::after {
  -webkit-transform: translate(-50%, 0.2rem);
          transform: translate(-50%, 0.2rem);
}

.tooltip.tooltip-left::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  -webkit-transform: translate(0.4rem, 50%);
          transform: translate(0.4rem, 50%);
}

.tooltip.tooltip-left:focus::after, .tooltip.tooltip-left:hover::after {
  -webkit-transform: translate(-0.2rem, 50%);
          transform: translate(-0.2rem, 50%);
}

.plus-button {
  border: 2px solid #41b922;
  background-color: #e5ffdf;
  font-size: 12px;
  height: 2em;
  width: 2em;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.plus-button:after, .plus-button:before {
  content: "";
  display: block;
  background-color: #41b922;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.plus-button:before {
  height: 1em;
  width: 0.2em;
}

.plus-button:after {
  height: 0.2em;
  width: 1em;
}

.minus-button {
  border: 2px solid #cd2026;
  background-color: #cd2026;
  font-size: 12px;
  height: 2em;
  width: 2em;
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.minus-button:after, .minus-button:before {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.minus-button:after {
  height: 0.2em;
  width: 1em;
}

.mobilizon-mirror-settings-wrapper {
  margin-top: 20px;
}

.mobilizon-mirror-settings-wrapper form {
  width: 100%;
}

.mobilizon-mirror-settings-wrapper .alert {
  background-color: #ffd29c;
  border-color: #dc943c;
  font-size: 1.2rem;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 24px 0 0 0;
}

.mobilizon-mirror-settings-wrapper .alert:hover {
  background-color: #ffd29c;
}

.mobilizon-mirror-settings-wrapper fieldset {
  width: 100%;
}

.mobilizon-mirror-settings-wrapper legend {
  margin: 0;
  padding: 0;
}

.mobilizon-mirror-settings-wrapper .components-base-control__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobilizon-mirror-settings-wrapper #mobilizon-mirror-logo {
  aspect-ratio: 7/1;
  background-image: url(../images/mobilizon-mirror-logo.svg);
  width: 320px;
  background-size: cover;
}

.mobilizon-mirror-settings-wrapper label {
  display: blocK;
  margin-bottom: 8px;
  font-size: 15px;
  cursor: default;
}

.mobilizon-mirror-settings-wrapper label span.btn.label-info-button.tooltip {
  margin-left: 5px;
  padding: 0 7px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  color: #04007d;
  background-color: #fffab3;
}

.mobilizon-mirror-settings-wrapper .components-base-control__field {
  margin: 10px;
  max-width: 100%;
}

.mobilizon-mirror-settings-wrapper input.textfield {
  width: 85%;
  font-size: 16px;
  padding: 10px;
  height: 35px;
  outline: 0;
  font-family: inherit;
  resize: vertical;
  border: 0px solid #0a0b0e;
  border-radius: 4px;
}

.mobilizon-mirror-settings-wrapper .image img.is-rounded {
  border-radius: 9998px;
}

.mobilizon-mirror-settings-wrapper .image img {
  display: block;
  height: auto;
  width: 100%;
}

.mobilizon-mirror-settings-wrapper .input-valid {
  border-color: #41b922 !important;
  -webkit-box-shadow: 0 0 0 1px #41b922 !important;
          box-shadow: 0 0 0 1px #41b922 !important;
  background-color: #eeffea !important;
}

.mobilizon-mirror-settings-wrapper .input-warning {
  border-color: red !important;
  -webkit-box-shadow: 0 0 0 1px red !important;
          box-shadow: 0 0 0 1px red !important;
  background-color: #ffdcdc;
}

.mobilizon-mirror-settings-wrapper .input-disabled {
  cursor: not-allowed !important;
  background-color: #eee !important;
  color: #eee !important;
  border: 1px solid #ccc !important;
}

.mobilizon-mirror-settings-wrapper .form-control-feedback {
  position: absolute;
  right: 0;
  z-index: 2;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
  font-size: 25px;
  translate: -50px;
}

.mobilizon-mirror-settings-wrapper .mobilizon-remove-group {
  margin: 0 5px;
}

.mobilizon-mirror-settings-wrapper .mobilizon-add-group {
  margin: 0 5px;
}

.mobilizon-mirror-settings-wrapper .icon-warning {
  color: red;
}

.mobilizon-mirror-settings-wrapper .icon-warning::before {
  content: "\26A0";
}

.mobilizon-mirror-settings-wrapper .icon-valid {
  color: #41b922;
}

.mobilizon-mirror-settings-wrapper .icon-valid::before {
  content: "\2713";
}

.mobilizon-mirror-settings-wrapper .input-wrapper {
  position: relative;
  width: 300px;
}

.mobilizon-mirror-settings-wrapper .mobilizon-group-item {
  margin-bottom: 10px;
}

.mobilizon-mirror-settings-wrapper .mobilizon-group-item:only-child > .mobilizon-remove-group {
  display: none !important;
}

.mobilizon-mirror-settings-wrapper legend > h2 {
  font-size: 30px;
  margin: 35px 0 23px 0;
}

.mobilizon-mirror-settings-wrapper label > h3 {
  margin: 10px 0 5px 0;
}

.mobilizon-mirror-settings-wrapper .radio-input-wrapper label {
  display: inline;
}

.mobilizon-mirror-settings-wrapper form p.submit input#submit {
  font-size: 1.3rem;
}

.mobilizon-mirror-faq-wrapper {
  margin-top: 1rem;
  width: 700px;
  max-width: 100%;
}

.mobilizon-mirror-faq-wrapper #mobilizon-mirror-logo {
  aspect-ratio: 7/1;
  background-image: url(../images/mobilizon-mirror-logo.svg);
  width: 320px;
  max-width: 100%;
  background-size: cover;
}

.mobilizon-mirror-faq-wrapper h1 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.mobilizon-mirror-faq-wrapper h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=mobilizon-mirror-admin.css.map */